<div class="row-cont" style="display:flex;width:100vw;height:100vh;flex-direction:row;">
  <div class="profile" style="width:20%;background-color:red;">
    <p> <%= @user.name %></p>
    <p> <%= @user.email %></p>
    <p> <%= @user.phone_number %></p>

    <%= link_to "My Cameras", dashboard_path %>

    <%= link_to "Index", cameras_path  %>
  </div>
  <div class="profile" style="width:40%;background-color:blue;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:left;overflow:scroll;">
    <% @cameras.each do |camera| %>
      <div class="cam-card">
        <%= cl_image_tag camera.photo, class: 'cam-img' %>
        <div class="info-holder">
          <p id="name-styling"><%= link_to camera.name, camera_path(camera) %></p>
          <p id="price-styling"> £<%= camera.price  %> </p>
          <p id="address-styling"> <%= camera.address %> </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="profile" style="width:40%;background-color:green;">
    <% @user.rentals.each do |rental| %>
      <div class="cam-card">
        <%= cl_image_tag rental.camera.photo, class: 'cam-img' %>
        <div class="info-holder">
          <p id="name-styling"><%= link_to rental.camera.name, camera_path(camera) %></p>
          <p id="price-styling"> £<%= rental.camera.price  %> </p>
          <p id="address-styling"> <%= rental.camera.address %> </p>
        </div>
      </div>
    <% end %>
  </div>

</div>

