<div class="holder">
  <div class="cards">
    <% @many_cameras.each do |camera| %>
      <div class="cam-card">
        <%= cl_image_tag camera.photo, class: 'cam-img' %>
        <div class="info-holder">
          <p id="name-styling"><%= link_to camera.name, camera_path(camera) %>/<%= camera.brand %> </p>
          <p id="price-styling"> £<%= camera.price  %> </p>
          <p id="address-styling"> <%= camera.address %> </p>
        </div>
      </div>
    <% end %>
