<div class="banner" style="background-image: url(https://images.pexels.com/photos/122400/pexels-photo-122400.jpeg?cs=srgb&dl=camera-macro-optics-122400.jpg&fm=jpg);">

  <div class="search-form">
    <h3>Find the best cameras near you</h3>
      <%= form_tag(cameras_path) do %>
      <div class="field-header"> <p>MODEL</p> </div>
      <%= text_field_tag :camera, placeholder="", class: "form-field" %>
      <div class="field-header"> <p>LOCATION</p> </div>
      <%= text_field_tag :location, placeholder="", class: "form-field" %>
      <div class="form-inline" style="justify-content: space-between;">
        <div style="width: 48%">
          <div class="field-header"><p>START DATE</p></div>
          <%= text_field_tag :start_date, placeholder="", class: "form-field"  %>
        </div>
        <div style="width: 48%">
          <div class="field-header"> <p>END DATE</p> </div>
          <%= text_field_tag :end_date, placeholder="", class: "form-field"  %>
        </div>
      </div>
      <%= link_to 'Search', cameras_path, class: "btn btn-primary" %>
    <% end %>
  </div>
 </div>


