<div class="navbar navbar-expand-sm navbar-light navbar-firefly">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if current_user %>
            <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
          <% end %>
          <%= link_to "log in", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<h1>All cameras</h1>

<% @cameras.each do |camera| %>
  <h2> <%= link_to camera.name, camera_path(camera) %> </h2>
  <li> <%= camera.brand %> </li>
  <li> <%= camera.price %> </li>
  <li> <%= camera.description %> </li>
  <li> <%= camera.start_date %> </li>
  <li> <%= camera.end_date %> </li>
  <li> <% if policy(camera).destroy? %>
    <%= link_to(camera_path(camera), method: :delete) do %>
      <i class="fas fa-trash"></i>
    <% end %>
  <% end %></li>
<% end %>

<% if policy(Camera).create? %>
  <%= link_to "New camera", new_camera_path %>
<% end %>

<%= link_to "log out", destroy_user_session_path, method: :delete %>

