<!-- Navbar already rendered on this page from applications -->


<div class="btn-bar">
  <ul class="search-btn">
      <%= link_to 'Brand', cameras_path, class: "btn" %>
      <%= link_to 'Category', cameras_path, class: "btn" %>
      <%= link_to 'Price', cameras_path, class: "btn" %>
      <%= link_to 'Dates', cameras_path, class: "btn" %>
      <%= link_to 'Location', cameras_path, class: "btn" %>
  </ul>
</div>

<!-- iteration for cards to be created AKA keep creating cards if there's data-->


<div class="holder">
 <div class="cards">
    <% @cameras.each do |camera| %>
      <div class="cam-card">
        <% if camera.photo? %>
          <%= cl_image_tag camera.photo, class: 'cam-img' %>
        <% else %>
          <%= image_tag("default-camera.jpg", class: 'cam-img') %>
        <% end %>
        <div class="info-holder">
          <p id="name-styling"><%= link_to camera.name.truncate(10), camera_path(camera) %>/<%= camera.brand.truncate(10) %> </p>
          <p id="price-styling"> £<%= camera.price  %> </p>
          <% if camera.address? %>
            <p id="address-styling"> <%= camera.address.truncate(31) %> </p>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
  <div class="map-holder">
    <div
      id="map"
      style="width: 100%;
      height: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

<!-- <form action="">
  <label for=""></label>
  <textarea name="" id="" cols="30" rows="10"></textarea>
  <select name="" id=""></select>
</form> -->

