<div class="holder-show">

  <div class="profile-show">
    <h2>Profile</h2>
    <%= image_tag("default_avatar.jpeg", class: 'img-avatar-show') %>
   <!--  <img src="images/default-avatar.jpeg" class="avatar-small"> -->
    <%= simple_form_for(current_user, url: user_registration_path, class: "profile-form") do |f| %>
      <p class="user-label">NAME</p>
      <%= f.input :name, label: false, value: current_user.name, input_html: { class: "profile-tab" } %>
      <!-- <p class="user-data"> <%# @user.name %></p> -->
      <p class="user-label ">BIO</p>
      <%= f.input :bio, label: false, value: current_user.bio, input_html: { class: "profile-tab" } %>
      <!-- <p class="user-data"> <%# @user.bio %></p> -->
   <!--    <%= f.input :current_password, label: false, input_html: { class: "profile-tab" } %> -->
      <%= f.submit %>
       <% end %>
    <p> <%= @user.email %></p>
    <p> <%= @user.phone_number %></p>
    <%= link_to "Edit Profile", edit_user_registration_path %>
    <%= link_to "Index", cameras_path  %>
  </div>

<div class="listings-show">
    <h5 class="card-header-show">Your Listings</h5>
      <div class="card-container-show">
        <% @cameras.each do |camera| %>
        <div class="cam-card-show">
        <% if camera.photo? %>
          <%= cl_image_tag camera.photo, class: 'cam-img-show' %>
        <% else %>
          <%= image_tag("default-camera.jpg", class: 'cam-img-show') %>
        <% end %>
        <div class="info-holder-show">
          <p id="name-styling-show"><%= link_to camera.name.truncate(10), camera_path(camera) %>/<%= camera.brand.truncate(10) %></p>
          <p id="price-styling-show"> £<%= camera.price  %> </p>
          <% if camera.address? %>
            <p id="address-styling"> <%= camera.address.truncate(31) %> </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="rentals-show">
    <h5 class="card-header-show">Rentals</h5>
    <div class="card-container-show">
      <% @user.rentals.each do |rental| %>
        <div class="cam-card-show">
          <%= cl_image_tag rental.camera.photo, class: 'cam-img-show' %>
          <div class="info-holder-show">
            <p id="name-styling-show"><%= link_to rental.camera.name, camera_path(rental.camera) %></p>
            <p id="price-styling-show"> £<%= rental.camera.price  %> </p>
            <<% if camera.address? %>
            <p id="address-styling"> <%= camera.address.truncate(31) %> </p>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
